@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@font-face{
    font-family: Lato;
     src: url("../fonts/lato/latoregular.woff2") format("woff2"), url("../fonts/lato/latoregular.woff") format("woff");
     font-display: swap;
     font-weight: 400;
     font-style: normal;
}
@font-face{
    font-family: Lato;
     src: url("../fonts/lato/latobold.woff2") format("woff2"), url("../fonts/lato/latobold.woff") format("woff");
     font-display: swap;
     font-weight: 700;
     font-style: normal;
}
@font-face{
    font-family: Lato;
     src: url("../fonts/lato/latoblack.woff2") format("woff2"), url("../fonts/lato/latoblack.woff") format("woff");
     font-display: swap;
     font-weight: 900;
     font-style: normal;
}     
@font-face{
    font-family: Larsseit;
     src: url("../fonts/larsseit/Larsseit-Regular.woff2") format("woff2"), url("../fonts/lato/latoregular.woff") format("woff");
     font-display: swap;
     font-weight: 400;
     font-style: normal;
}
@font-face{
    font-family: Larsseit;
     src: url("../fonts/larsseit/Larsseit-Medium.woff2") format("woff2"), url("../fonts/lato/latoregular.woff") format("woff");
     font-display: swap;
     font-weight: 500;
     font-style: normal;
}
@font-face{
    font-family: Larsseit;
     src: url("../fonts/larsseit/Larsseit-Bold.woff2") format("woff2"), url("../fonts/larsseit/Larsseit-Bold.woff") format("woff");
     font-display: swap;
     font-weight: 700;
     font-style: normal;     
}
header{
    font-family: Lato;
    font-weight: 400;
}
main{
    font-family: Lato;
    font-weight: 700;
}
footer{
    font-family: Lato;
    font-weight: 900;
}
.try span{
    font-family: Larsseit;
    font-weight: 500;
}
.trip span{
    font-family: Larsseit;
    font-weight: 700;
}
.bone ~ p{
    font-family: Larsseit;
    font-weight: 900;
}
h1,
h2{
    font-family: Roboto;
}
.player li{
    color: gold;
}
.player li h2{
    color: red;
}
.text h1{
    color: blue;
}
#het,
#lars,
#rob,
#kirk,
#dave,
#kliff,
#jas{
   color: brown; 
}
#het ~ p{
    color: black;
}
#lars + p{
    color: rgb(223, 189, 0);
}
#kirk + p{
    color: indigo;
}
#rob ~ p{
    color: darkred;
}
#dave + p{
    color: rgb(97, 11, 5);
}
#kliff + p{
    color: black;
}
#jas + p{
    color: black;
}
.bone ~ p{
    color: darkorange;
}
.stone > p{
    color: rgb(153, 155, 23);
}
header *{
    color: rgb(51, 41, 34);
}
ul *{
    color: dimgray;
}