@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
[class *="_normal"]{
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
}
[class *="_bold"]{
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
}
main{
    background: url(../img/bigleaf.png) 0 100px / 500px 750px fixed no-repeat, url(../img/arrow.png) 15% / 200px 200px repeat-y, url(../img/arrow.png) 85% / 200px 200px repeat-y, linear-gradient(90deg, rgba(33,155,199,1) 0%, rgba(37,167,180,1) 0%, rgba(39,173,170,0.8463760504201681) 29%, rgba(45,189,145,0.2777485994397759) 92%) ;
}
.main_block{
    margin: 0 auto;
    max-width: 770px;
    background: url(../img/leaf.png) 0 0 / contain;
}
.title_image_block{
    margin-bottom: 50px;    
}
.title{
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    font-size: 46px;
    line-height: 60px;
    padding-bottom: 60px;
    padding-top: 40px;
    background: url(../img/arrow.png) 0 160px / 50px 50px repeat-x, url(../img/arrow.png) 0 5px / 50px 50px repeat-x;
}
.image{
    max-width: 100%; 
}
.text_block{
    
}
.paragraph-1_bold{
    margin-bottom: 25px;
}
.paragraph-2_normal{
    margin-bottom: 40px;
}
.paragraph-3_normal{
    margin-bottom: 50px;
}
.paragraph-4_bold{
    padding-left: 40px;
    max-width: 700px;
    margin-bottom: 50px;
}
.paragraph-5_normal{
    background: url(../img/tree.png) right bottom/ 220px 230px no-repeat ;
    padding: 5px;
}
.list_normal{
    padding: 40px 0 40px 30px;
    line-height: 30px;
}

