@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');
@font-face{
	font-family: "Playfair Display";
	src: url(../fonts/PlayfairDisplay-Bold.woff2) format("woff2"), url(../fonts/PlayfairDisplay-Bold.woff2) format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: "Playfair Display";
	src: url(../fonts/PlayfairDisplay-MediumItalic.woff2) format("woff2"), url(../fonts/PlayfairDisplay-MediumItalic.woff) format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: italic;
}
@font-face{
	font-family: "Playfair Display";
	src: url(../fonts/PlayfairDisplay-Medium.woff2) format("woff2"), url(../fonts/PlayfairDisplay-Medium.woff) format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: italic;
}
.brake p{
	text-shadow: 2px 2px 5px rgb(224, 148, 33);
	background-color: rgba(190, 126, 126, 0.158); 
	padding: 10px;
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 500PX;
	text-transform: none;
	font-family: Caveat, serif;
	font-style: italic;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 3px;
	text-align: justify;
}
.headerphoto{
	margin-top: 30px;
	margin-left: 150px;
}
ol{
	margin-top: 20px;
	margin-left: 500px;
	margin-right: 900px;
	line-height: 2;
	text-transform: uppercase;
	font-family: "Caveat", serif;
	font-style: italic;
	font-weight: 900;
	font-size: 20px;
	text-shadow: 1px 1px 10px rgba(23, 85, 39, 0.712);
	letter-spacing: 10px;
}
.hammer{
	text-decoration: line-through;
	margin-bottom: 50px;
}
.drill{	
	background-color: rgba(221, 27, 1, 0.767);
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 500px;
	margin-bottom: 30px;
	padding: 40px;
}
#driller,
#circularer,
#jigsawer,
#millerer {
	background-color: rgb(255, 255, 255) ;
	padding-left: 50px;
	padding-top: 25px;
	padding-right: 2%;
	padding-bottom: 2%;
	letter-spacing: 5px;
	text-align: center;
	font-family: "Playfair Display", serif;
	font-size: 25px;
	text-shadow: 3px 3px 15px rgba(172, 0, 0, 0.712);
	margin-right: 573px;
}
#sanderer{
	margin-right: 265px;
	word-spacing: 30px;
	background-color: rgb(255, 255, 255) ;
	padding-left: 50px;
	padding-top: 25px;
	padding-right: 2%;
	padding-bottom: 2%;
	letter-spacing: 5px;
	text-align: center;
	font-family: "Playfair Display", serif;
	font-size: 25px;
	text-shadow: 3px 3px 15px rgba(172, 0, 0, 0.712);
}
#drillball,
#jigsawball,
#circularball,
#millerball,
#senderball {
	background-color: rgb(255, 255, 255);
	padding: 30px;
	margin-right: 100px;
	margin-top: 20px;
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-weight: 500;
	font-size: 32px;
	line-height: 1.1;
	word-spacing: 5px;
	letter-spacing: 3px;
	text-shadow: 3px 3px 130px rgba(216, 53, 53, 0.733);
}
h3{
	text-align: center;
	font-size: 40px;
}
ul li{
	text-align: right;
	line-height: 50px;
}
.night div{
	margin: 70px;
	text-align: right;
	line-height: 40px;
	font-family: "Playfair Display", serif;
	font-weight: 900;
	font-size: 24px;
	color: brown;
	text-shadow: 3px 2px 15px rgb(0, 0, 0);
}
#last{
	text-align: center;
	font-size: 24px;
}


